#add for board init.rc for recovery mode
import /init.recovery.common.rc

on init
    start boot-hal-1-1

    # Create location for fs_mgr to store abbreviated output from filesystem
    # checker programs.
    mkdir /dev/fscklogs 0770 root system

on boot
    setprop sys.usb.config adb

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

    # Set fscklog permission
    chown root system /dev/fscklogs/log
    chmod 0770 /dev/fscklogs/log
    start load_ts_firmware

service load_ts_firmware /vendor/bin/load_ts_firmware.sh
    user root
    group root
    oneshot
    disabled
    seclabel u:r:recovery:s0
  
  